<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cursoweb</name>
	<displayName><![CDATA[cursoweb]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[modulo de prueba para curso web]]></description>
	<author><![CDATA[leticia]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
