<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cursowebmodulo</name>
	<displayName><![CDATA[cursowebmodulo]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[curso de web prueba ]]></description>
	<author><![CDATA[sandra]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
